<main>
  <h1>Заголовок1</h1>
  <h2>заголовок2</h2>
  <h3>заголовок3</h3>

  <div>Заголовок div</div>
  <hr />

  display-1
  <div class='display-1'>Заголовок d1</div>
  <div class='display-6'>Заголовок d6</div>
  <span class='text-muted'>text-muted</span>
  <div class='display-6 text-muted'>Заголовок d3'text-muted'</div>
  <hr />
  <div class='display-6 text-muted text-center'>text-muted
    text-center'</div>
  <hr />

  text-uppercase
  <div class='display-6 text-end'>Заголовок d6 text-end'</div>
  <div class='display-6'>this </div>
  <div class='display-6 text-uppercase'>text-uppercase</div>
  <div class='display-6 text-lowercase'>БОЛЬШИЕ БУКВЫ
    lowercase</div>
  <div class='display-6 text-capitalize'>
    capitalize маленькие буквы</div>
  <hr />

  type='button'
  <button
    type='button'
    class='btn btn-primary'
  >btn-primary</button>
  <button type='button' class='btn btn-primary'><span
      class='text-uppercase'
    >btn-primary uppercase</span></button>

  <button
    type='button'
    class='btn btn-secondary'
  >btn-secondary</button>

  <button class='btn btn-danger'>btn-danger</button>

  <button class='btn btn-warning'>btn-warning</button>
  <button class='btn btn-info'>btn-info</button>
  <button class='btn btn-dark'>btn-dark</button>
  <a href='google.com' class='btn btn-link'>
    btn-link google</a>

</main>
<hr />

color text

<p class='text-primary'>My text/ text-primary</p>
<p class='text-danger'>My text/ text-danger</p>
<p class='text-muted'>My text/ text-muted</p>
<hr />

btn-outline
<button
  class='btn btn-outline-primary'
>btn-outline-primary</button>
<button
  class='btn btn-outline-secondary'
>btn-outline-secondary</button>
<button
  class='btn btn-outline-info'
>btn-outline-info</button>
<hr />

btn-lg btn-sm
<button
  class='btn btn-outline-primary btn-lg'
>btn-lg</button>
<button class='btn btn-outline-primary'>btn-nrm</button>
<button
  class='btn btn-outline-primary btn-sm'
>btn-lg</button>
<hr />

Block або Box card card-body

<div class='card'>
  <div class='card-body'>
    This content
  </div>
</div>
<br />
<div class='card'>

  This content without 'card-body'

</div>

<br />
<div class='card'>
  <div class='card-body'>
    <button
      class='btn btn-outline-primary btn-lg'
    >btn-lg</button>

    <button class='btn btn-outline-primary'>btn-nrm</button>

    <button
      class='btn btn-outline-primary btn-sm'
    >btn-lg</button>
  </div>
</div>
<br />

{{! ====================================================
====================================================
class Опис

btn вказує, що цей тег буде кнопкою

btn-primary визначає основний колір кнопки

btn-secondary визначає додатковий колір кнопки

btn-success визначає зелений (успішний) колір кнопки

btn-danger визначає червоний (небезпечний) колір кнопки

btn-warning визначає жовтий (попереджувальний) колір кнопки

btn-info визначає блакитний (інформаційний) колір

btn-light визначає світлий колір кнопки

btn-dark визначає темний колір кнопки

btn-link визначає кнопку з посиланням

====================================================
====================================================

Typography color

class Опис

text-primary визначає основний колір

text-secondary визначає додатковий колір

text-success визначає зелений (успішний) колір

text-danger визначає червоний (небезпечний) колір

text-warning визначає жовтий (попереджувальний) колір

text-info визначає блакитний (інформаційний) колір

text-light визначає світлий колір

text-dark визначає темний колір
====================================================
==================================================== }}
{{! Outline buttons
мають тіньовий колір, та не мають заливки
btn-outline-primary
btn-outline-secondary визначає додатковий колір кнопки
btn-outline-success визначає зелений (успішний) колір кнопки
btn-outline-danger визначає червоний (небезпечний) колір
кнопки 
btn-outline-warning визначає жовтий
(попереджувальний) колір кнопки 
btn-outline-info визначає
блакитний (інформаційний) колір 
btn-outline-light визначає
світлий колір кнопки 
btn-outline-dark визначає темний колір
кнопки }}
{{! ====================================================
==================================================== 
Sizesbuttons 
Sizes buttons - це додаткові класи 
class Опис 
btn-lg
встановлює більший розмір кнопки 

btn-sm встановлює менший
розмір кнопки }}
{{! ====================================================
==================================================== 

Block або Box

Block або Box - це компонент, який створює коробку для
контенту, яка має сіру рамку довкола контенту

class Опис

card клас для контейнера, який надає рамку для коробки

card-body відповідає за відображення контенту коробки }}