<main class='p-5'>
  {{>index}}
  <div class='m-5'></div>
  <div class='m-5'></div>
  <h4 class='my-4'>Список сторінок</h4>

  <p class="mb-5">{{descriptions}}</p>
    {{#each pages}}
    <div class="my-2">
        <a class="btn btn-primary" 
            href="/{{this}}">{{this}}
        </a>
    </div>
    {{/each}}
</main>