	{{#with footer}}
		<footer  >
			<hr class="my-5"/>
			
			{{#with social}}
				{{> link text=email.text href=email.href blank=true line="/"}}
				{{> link text=phone.text href=phone.href blank=true line="/"}}
				{{> link text=linkedin.text href=linkedin.href blank=true }} 				
			{{/with}}
			
			<div class="my-3">
				
				<em>Copiright {{../header.name.firstname}} {{../header.name.lastname}}</em>
			</div>
			

			<div class="my-3">
			<em><address>{{../header.address}}</address></em>
			</div>
			
		</footer>
   {{/with}} 