<div class='card card-body'>
  <div class='row'>
    <div class='col-6'>
      <H6>{{name}} {{sName}}</H6>
    </div>
    <div class='col-6'>
      <H6 class='text-end'>{{title}}</H6>
    </div>
  </div>
</div>