<nav>			
			{{> link text="Summary" href="/summary" line="--" }}
			{{> link text="Skils" href="/skils" line="--"}}
			{{> link text="Education" href="/education" line="--"}}
			{{> link text="Work" href="/work"}}					
</nav>