<div class='p-5 pb-0'>
  <div class='row ms-1 col-12 card'>
    <div class='nav' ms-0>
      {{#with navigation}}
        {{#each links}}
          <div class='nav-item'>
            {{#if href}}
              <a href={{href}} class='nav-link'>{{text}}</a>
            {{else}}
              <a
                href='#'
                class='nav-link disabled'
              >{{text}}</a>
            {{/if}}

          </div>
        {{/each}}
        <div class='nav-item'>
          <a href='#' class='nav-link disabled'>Disabled</a>
        </div>
      {{/with}}
    </div>
  </div>
</div>