{{#with service}}
  <div class='card text-center text-bg-success'>
    <div class='card-body'>
      <h2>{{title}}</h2>
      <p class='py-3'>{{description}}</p>
      {{#each buttons}}
        <div><button class='btn btn-primary'>
            {{text}}</button></div>
      {{/each}}
    </div>
  </div>
{{/with}}